<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd

    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

    <context:property-placeholder location="classpath:log4j.properties" ignore-unresolvable="true"/>

    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/*"/>-->
            <!--<bean class="jobengine.app.request.RestHeaderInterceptor"/>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->

    <!--<bean id="contentNegotiationManager"-->
          <!--class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">-->
        <!--<property name="favorPathExtension" value="false"/>-->
        <!--<property name="favorParameter" value="false"/>-->
        <!--<property name="parameterName" value="format"/>-->
        <!--<property name="ignoreAcceptHeader" value="false"/>-->
        <!--<property name="useJaf" value="false"/>-->
        <!--<property name="defaultContentType" value="application/json; charset=utf-8"/>-->

        <!--<property name="mediaTypes">-->
            <!--<map>-->
                <!--<entry key="json" value="application/vnd.jobrapido.v1+json"/>-->
                <!--<entry key="json" value="application/vnd.jobrapido.alpha+json"/>-->
                <!--<entry key="json" value="application/json"/>-->
                <!--<entry key="xml" value="application/xml"/>-->
            <!--</map>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<mvc:annotation-driven content-negotiation-manager="contentNegotiationManager"/>-->


    <context:component-scan base-package="jobengine.domain"/>
    <context:component-scan base-package="jobengine.app"/>
    <context:component-scan base-package="jobengine.infrastructure"/>

</beans>