<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:log4j.properties" ignore-unresolvable="true"/>
    <context:annotation-config/>
    <context:component-scan base-package="jobengine.domain"/>
    <context:component-scan base-package="jobengine.app"/>
    <context:component-scan base-package="jobengine.infrastructure"/>

    <!-- this scans the classes for resources -->
    <bean id="swaggerConfig" class="com.wordnik.swagger.jaxrs.config.BeanConfig">
        <property name="resourcePackage" value="jobengine.app"/>
        <property name="version" value="1.0.1"/>
        <property name="basePath" value="http://localhost:8080/api-spike/api/docs"/>
        <property name="title" value="jobrapido"/>
        <property name="description" value="Let's help jobseekers all over the world to find a job!"/>
        <property name="contact" value="system@jobrapido.com"/>
        <property name="license" value="Copyrighted"/>
        <property name="licenseUrl" value="http://www.apache.org/licenses/LICENSE-2.0.html"/>
        <property name="scan" value="true"/>
    </bean>

</beans>