.topbar {
    border-bottom: 1px solid grey;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #44789a), color-stop(100%, #12537b));
    background-image: -webkit-linear-gradient(top, #44789a, #12537b);
    background-image: -moz-linear-gradient(top, #44789a, #12537b);
    background-image: -o-linear-gradient(top, #44789a, #12537b);
    background-image: linear-gradient(top, #44789a, #12537b);
    background-color: #12537b;
    font-size: 16px;
}

.topbar textarea, .topbar input[type="text"], .topbar input[type="password"], .topbar input[type="datetime"], .topbar input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], .topbar input[type="search"], .topbar input[type="tel"], .topbar input[type="color"], .topbar .uneditable-input {
    background-color: white;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}